button {
  font-size: small;
  border-radius: 8px;
  padding: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 500px;
  margin: 10px;
}

.app-header {
  margin: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
}

.input {
  display: flex;
  justify-content: flex-start;
}

.input input {
  width: 80%;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  font-size: medium;
}

.input button {
  background-color: dodgerblue;
  color: white;
  font-size: medium;
  border-radius: 8px;
  width: 30%;
  margin-left: 20px;
}

.list {
  margin-top: 25px;
}

.item {
  display: flex;
  border-bottom: #222 1px solid;
  align-items: center;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  font-size: larger;
}

.item p {
  text-align: left;
  margin: auto;
}

.item button {
  background-color: lemonchiffon;
  opacity: 0.95;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.footer button {
  background-color: lemonchiffon;
  opacity: 0.8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
